html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 2.3fr 1fr;
  gap: 0px 0px;
}

.topBar { grid-area: 1 / 1 / 2 / 3;
    text-align:center;
    display:grid;
    background: yellowgreen;
     }

.ScoreLeft { grid-area: 2 / 1 / 3 / 2;

display:grid; 
}


.LeftMain { grid-area: 2 / 1 / 5 / 2; 

display:grid;
;

}

.center-main {
    grid-area:2/1/4/3;
    display:grid;
}

.center-bot {
    grid-area:2/1/5/3;
    display:grid; /*center zeug auf kind element*/
}

.middle-center {
    grid-area:3/1/5/3;
    display:grid; /*center zeug auf kind element*/
}

.real-center {
grid-area:3/1/4/3;
display:grid;

}

.top-center { grid-area: 2 / 1 / 3 / 3; 
    display:grid;
  
    }

.full {
grid-area: 1/1/5/3;
display:grid;

}
.RightMain { grid-area: 2 / 2 / 5 / 3;
    
    display:grid;
    
   
   
     }


.bottomBar { grid-area: 4 / 1 / 5 / 3;
    display:grid;
    
   
}
        

.posDot {
    display:none;
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;
}

.posDot2 {
    grid-area:1/1/2/2;
    display : none;
    justify-self: center;
    align-self: center;
}

.posCross {
    display:none;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
}

.posCross2 {
   display:none;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
}

#dot {
    border-radius: 20px;
    background: black;
    width: 40px;
    height: 40px;
}


#cross1 {
    background: black;
     width: 50px;
    height: 10px;    
}

#cross2 {
    background: black;
    width: 10px;
    height: 50px;  
}

  
#logo {
    color:white;
    font-size: 20px;
    padding: 10px;
         }  


.GameButtons {  /*zeigt Tutorial Optionen*/
   
    grid-row-start: 2;
    justify-self: center;
    width:200px;
    height:100px;
    z-index: 1;
    background:yellowgreen;
    border:none;;
    border-radius: 25px;
    color:white;
    font-size: 20px;
    
}

.buttons {}

.EnableDisableButtons {
    
    display:none;
    width:200px;
    height:100px;
    z-index: 1;
    background:yellowgreen;
    border:none;;
    border-radius: 25px;
    color:white;
    font-size: 20px;
    grid-row-start: 2;
    justify-self: center;
    
}

.positionScore {
    display:grid;
    justify-self: start;
    align-self: center;
    position: relative;
    left:20px;
}

#scores {
    display: none;
    font-size: 20px;
}

#scores2 {
    display: none;
    font-size: 20px;
}
#scores2 > div {
    white-space: nowrap;
}



.cover {
    display:none;
    
}

.picture1 {
}
.picture2 {
}
.picture3 {
}
.picture4 {
}
.picture5 {
}

.pictureLeft {
    
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;
}

.pictureRight {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;  
}

.hide{
    display: none;
}

#Time1 {
   display:none;
   grid-area: 1/1/2/2;
   justify-self:center;
   align-self:start;
   color: #3252c4;
    font-size: 110px;
    transform: scale(.1);
}

#TimeTutorial {
    display:none;
    grid-area: 1/1/2/2;
    justify-self:center;
    align-self:start;
    color: #3252c4;
     font-size: 110px;
     
 }

#plus10 {
    display: none;
    grid-area: 1/1/2/2;
    justify-self:center;
    align-self:center;
    -webkit-text-stroke: 0.5px black;
    color: #79f145;
    font-size: 24px;
   
}

#plus10Tutorial {
    display:none;
    grid-area: 1/1/2/2;
    justify-self:center;
    align-self:center;
    -webkit-text-stroke: 0.5px black;
    color: #79f145;
    font-size: 24px;
    position:relative;
    top:-70px;
   
}

#minus10 {
    display: none;
    grid-area: 1/1/2/2;
    justify-self:center;
    align-self:center;
    -webkit-text-stroke: 0.5px black;
    color: 	#d50909;
    font-size: 24px;
    
}

#plusAnim {
    display: none;
    grid-area: 1/1/2/2;
    position:relative;
    top:80px;
    justify-self:center;
    align-self:center;
}

.Bonus {
    display:none;
    grid-area:1/1/2/2;
    position:relative;
    top:px;
    justify-self:center;
    align-self:center;
    -webkit-text-stroke: 0.5px black;
    color: #e34acd;
    font-size: 22px;
    
}

#plus10 {
    display: none;
    -webkit-text-stroke: 0.5px black;
    color: #79f145;
    font-size: 24px;
   
}

#minus10 {
    display: none;
    -webkit-text-stroke: 0.5px black;
    color: 	#d50909;
    font-size: 24px;
   
}

#choose {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self:start;
    font-size: 30px;
   
}

.Selektion {
   display:none;
   
}

#Zeit {
    z-index: 1;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 25px;
  
   
}

#Punkte {
    z-index: 1;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 25px;
    position:relative;
    left:-150px;
   
    
}

#feedback {
    z-index: 1;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 25px;
    position:relative;
    left:150px;
   
}

.positionOptions {
  
}

#startButton {
    width:200px;
    height:100px;
    z-index: 1;
    background:yellowgreen;
    border:none;;
    border-radius: 25px;
    color:white;
    font-size: 30px;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:end;
    
   
}



#five {
    position: relative;
    top:30px;
    left:-130px;
}
    
#ten {
    position: relative;
    top:30px;
    left:-50px;
}
    
#thirty {
    position: relative;
    top:30px;
    left:30px;
}
    
#fifty {
    position: relative;
    top:30px;
    left:110px;
}

#bar {
    display:none;
    grid-area:4/1/5/3;
    justify-self: center;
    align-self: center;
    border-radius: 25px;
    background: black;
    width: 550px;
    height: 7px;
    
  }
  
  #barGreen {
    display:none;
    grid-area:4/1/5/3;
    justify-self: center;
    align-self: center;
    position: relative;
    left:-271px;
    border-radius: 25px;
    background-color: chartreuse;
    width: 5px;
    height: 5px;
    
  }

  .points {
    display:none;
    grid-area:3/1/4/3;
    justify-self: center;
    align-self: center;
    font-family:sans-serif;
    font-size: 12px;
}





.taskExplain { /*Lässt Tutorial ohne Game Elemente erscheinen*/
opacity:0;
}

.taskExplainGame {
opacity:0;
    }

.taskExplainSelect {
opacity:0
            }

.taskExplainEnableDisable {
opacity:0
              }

.introductionTutorial {
opacity:0;
}

.introductionTutorialGame {
opacity:0;
    }

.introductionTutorialSelect {
 opacity:0;
         }

.introductionTutorialEnableDisable {
    opacity:0;
}         

.crossExplain {

}

.picturesExplain {

}

.dotExplain {

}





.DotProbeTask {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: start;
    font-size: 40px;
    color:black
}




#okay { /*Macht Tutorial ohne Game Elemente sichtbar*/
   display:none; 
   
}

#okayGame {
    display:none;
   
}

#okaySelect {
    display:none;
   
}

#okayEnableDisable {
    display:none;
   
}

.Tutorial {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;
    position: relative;
    top:-250px;
    font-size: 40px;
    color:black
    
 
   
}

/*KANN ZUSAMMENGEFASST WERDEN*/

.IntroText {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;
    background:white;
    border: 2px solid black;
    border-radius:25px;
    width:400px;
    height:300px;
    font-size:20px;
    padding:10px;
    
}

.IntroText2 {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;
    background:white;
    border: 2px solid black;
    border-radius:25px;
    width:400px;
    height:300px;
    font-size:20px;
    padding:10px;
    
}

.IntroText3 {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;
    background:white;
    border: 2px solid black;
    border-radius:25px;
    width:400px;
    height:300px;
    font-size:20px;
    padding:10px;
    
}

.IntroText4 {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;
    background:white;
    border: 2px solid black;
    border-radius:25px;
    width:400px;
    height:300px;
    font-size:20px;
    padding:10px;
    
}




.startButton {

    grid-area:1/1/2/2;
    justify-self: center;
    align-self: end;
    width:200px;
    height:100px;
    z-index: 1;
    background:yellowgreen;
    border:none;;
    border-radius: 25px;
    color:white;
    font-size: 20px;
    position:relative;
    top:100px;

}


#startTutorial {
    display:none;
   
}

#startTutorialGame {
    display:none;
   }

#startTutorialSelect {
    display:none;
}

#startTutorialEnableDisable {
    display:none;
}


#afterGetPoints {
    display:none;
}

#afterExplainPoints {
    display:none;
}

#afterExplainScore {
    display:none;
}

#afterExplainBar {
    display:none;
}

#afterExplainRecord {
    display:none;
}

.boxCross1 {
    grid-area:1/1/2/2;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 100px;
   background-color: yellowgreen;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    margin: 40px;
    float: left;
  }

  .positionCross1 {
    opacity: 0;
    position: relative;
    left:200px;
    top:40px;
  }
  .positionPicture1 {
    opacity: 0;
    position: relative;
    top:40px;
  }

  .positionDot1 {
    display:none;
    opacity: 0;
    position: relative;
    left:-200px;
    top:40px;
  }

    .positionPlusZehn1 {
    opacity:0;
    position: relative;
    left:250px;
    top:-23px;
    }

    .positionScore1 {
        opacity:0;
        position: relative;
        left:-400px;
        top:-320px;
    }

    .positionBar1 {
        opacity:0;
        position: relative;
        top:280px;
        left:-230px;
    }

    .positionRecord1 {
        opacity:0;
        position: relative;
        top:-100px;
        left:-230px;
    }

    .positionTime1 {
        opacity:0; 
        position: relative;
        top:-320px;
        left:-400px;
    }

  #arrowRight{}


  .arrow-top:after {
    content: " ";
    position: absolute;
    right: 30px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid yellowgreen;
  }

  .arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid yellowgreen;
    border-left: none;
    border-bottom: 15px solid transparent;
  }
  
  .arrow-right:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid yellowgreen;
    border-bottom: 15px solid transparent;
  }

  .arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 30px;
    bottom: -15px;
    border-top: 15px solid yellowgreen;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
  }

  .nextButton {
   opacity:0;
   grid-area:1/1/2/2;
   justify-self: center;
   align-self: end;
   width:100px;
   height:50px;
   z-index: 1;
   position: relative;
   top:-90px;
   background: yellowgreen;
   border:none;
   border-radius: 25px;
   color:white;
   font-size: 20px;

  }


  .haken {
      opacity:0;
      grid-area:1/1/2/2;
      justify-self:center;
      align-self:end;
      position: relative;
      top:-90px;
     
     
  }


  #afterCross1 {
    display:none;
    
   
}

#afterPicture1 {
    display:none;
   
   
}

#practise1 {
    display:none;
    
}

#startTask {
    display:none;
}

#practiseSelect {
    display:none;
    
}

#practiseSelect0 {
    display:none;
    
}

#nowWithGame {
    display:none;
    
}

#practise2 {
    display:none;
    
}

#practisePointsPhase {
    display:none;
    
}

#practiseTimePhase {
    display:none;
    
}

#practiseFeedbackPhase {
    display:none;
    
}
    

#arrowRightPic {
    display:none;
    opacity: 0;
    grid-area:1/1/2/2;
    justify-self: center;
    align-self:center;
    position: relative;
    left:-100px;
    top:300px;

}

#goodJob {
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 35px;
    color:black;
    text-align: center;
    width:400px;
    height:80px;
    z-index: 1;
    
    
}

#startText {
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 35px;
    color:black;
    text-align: center;
    width:400px;
    height:80px;
    z-index: 1;
}

#goodJobSelect {
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 35px;
    color:black;
    text-align: center;
    width:400px;
    height:80px;
    z-index: 1;
    
}

#goodJobSelect0 {
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 35px;
    color:black;
    text-align: center;
    width:400px;
    height:80px;
    z-index: 1;
    
}

#goodJobEnableDisable {
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 35px;
    color:black;
    text-align: center;
    width:400px;
    height:80px;
    z-index: 1;
    
}

#goodJobEnableDisableSelect {
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    position: relative;
    top:-100px;
    font-size: 35px;
    color:black;
    text-align: center;
    width:400px;
    height:80px;
    z-index: 1;
    
}

.decideScreen {}

#nowPractise {
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 35px;
    color:black;
    text-align: center;
    width:400px;
    height:80px;
    z-index: 1;
    
}

#nowPractisePoints {
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:center;
    font-size: 35px;
    color:black;
    text-align: center;
    width:400px;
    height:80px;
    z-index: 1;
    
}

.selectOptions { /*Einzel Tutorials aktivieren*/
    opacity:0;
    grid-area:1/1/2/2;
    justify-self:center;
    align-self:start;
    position: relative;
}

#practisePointButton {}

#practiseTimeButton {}

#practiseFeedbackButton {}

#pointHaken {}

#timeHaken {}

#feedbackHaken {}

.selectNames {
    
    top:150px;
    font-size:25px;
}

.selectPic {
    
   top:250px;
}

.selectButton {
    display:none;
    width:200px;
    height:100px;
    z-index: 1;
    background:yellowgreen;
    border:none;;
    border-radius: 25px;
    color:white;
    font-size: 20px;
    top:600px;
}

